services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: 'redis:7-alpine'
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --proto-max-bulk-len 2048mb
      --client-query-buffer-limit 2048mb
      --maxmemory 1024mb
      --maxmemory-policy allkeys-lru
    restart: unless-stopped

  mailhog:
    image: 'mailhog/mailhog:latest'
    ports:
      - '1025:1025'
      - '8025:8025'
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data: