spring:
  application:
    name: variant4
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password:
    url: jdbc:h2:file:./mydb;AUTO_SERVER=true
  h2:
    console:
      enabled: true
      path: /h2-console
  mail:
    host: smtp.gmail.com
    port: 587
    username: nozhora510@gmail.com
    password: jaxx kdev nvsj hhiy
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

app:
  mail:
    from: your-email@gmail.com
  jwt:
    key: b1d06c7012f4c89b5046a6c59a3f622f801a77c48bf557fa0881e5149beba719
    access-expiration: 20000
    refresh-expiration: 604800000