spring:
  application:
    name: variant4
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    username: myuser
    password: secret
    url: jdbc:postgresql://localhost:5432/mydatabase
  mail:
    host: localhost
    port: 1025
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
        debug: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
      database: 0


app:
  mail:
    from: a@a.ru
  jwt:
    key: b1d06c7012f4c89b5046a6c59a3f622f801a77c48bf557fa0881e5149beba719
    access-expiration: 20000      # Flat names
    refresh-expiration: 604800000

